<!-- Sección del Body para index -->
<body>
  <div id="connections"></div>
  <div id="cursors">
    <!-- En esta zona se escriben los cursores de los invitados -->
  </div>

 {{!-- Definición del tamaño de canvas --}}
  <canvas id="paper" width="1920" height="1080">
    Tu navegador debe soportar canvas
  </canvas>

 <!-- Bloque de texto -->
  <hgroup id="instructions">
    <h1>¡Listo, Dibuja! :3</h1>
    <h2>Mueve el cursor en cualquier parte de la pantalla</h2>
    <h3>Refresca la página para reiniciar el dibujo</h3>
  </hgroup>
</body>