<!-- Sección de head para index -->
<head>
  <meta charset="UTF-8">
  <title>Drawverse</title>
  <link rel="stylesheet" href="/style/style.css" type="text/css">
  <link  rel="icon" href="/images/pencil.ico">
</head>